{% extends "base.html" %}
{% block title %}Error – {{ super() }}{% endblock title %}
{% block main %}
  <div class="alert alert-danger" role="alert">
    Error: <strong>{{ message }}</strong>
    <a href="./" class="btn btn-primary">Return to form</a>
  </div>
{% endblock main %}
